:root {
    font-family: ui-monospace,
        Menlo,           Monaco,
        "Cascadia Mono", "Segoe UI Mono",
        "Roboto Mono",   "Oxygen Mono",
        "Ubuntu Mono",   "Source Code Pro",
        "Fira Mono",     "Droid Sans Mono",
        "Consolas",      "Courier New",
        monospace;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block-end: 0;
}
p {
    margin-block: 0.1em;
}

h1 {
    font-size: clamp(1.2em, 4vw, 3.2em);
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    width: 90vw;
}
small {
    white-space: pre-wrap;
}
summary {
    cursor: pointer;
}
#qr-code {
    position: fixed;
    bottom: 0;
    right: 2rem;
    width: 260px;
    background-color: #242424;
}
#result {
    padding-block-end: 15em;
}

.paste {
    filter: grayscale(100%);
    position: fixed;
    bottom: 1em;
    left: 0;
    width: 5vw;
    text-align: center;
}

@media (max-width: 640px) {
    #app {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 4em auto auto auto;
        grid-template-areas:
            "title"
            "formatted"
            "result"
            "qr-code";
        height: 100vh;
    }
    h1 {
        grid-area: title;
    }
    #qr-code {
        grid-area: qr-code;
        position: unset;
        width: unset;
    }
    #qr-code #qr-code-full-region {
        display: grid;
        grid-template-columns: 1px 1fr 1fr;
        grid-template-rows: auto;
    }
    #result {
        grid-area: result;
        overflow: scroll;
        padding-block-end: 4em;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
    #qr-code {
        background-color: #ffffff;
    }
}
